body {
  background-color: #7F1734;
  text-align: center;
  height: 98vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

video {
  max-width: 98%;
  max-height: 98%;
}

footer {
  font-family: sans-serif;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #FFF;
}

a {
  color: #FFF;
}
