body {
  background-color: #7F1734;
  text-align: center;
}

video {
  max-width: 98%;
  max-height: 98vh;
}

footer {
  font-family: sans-serif;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #FFF;
}

a {
  color: #FFF;
}
